* {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 36px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

h2 {
  font-size:26px;
  margin: 20px;
  text-align: center;
}

p {
  margin: 10px;
}


a:hover {
  text-decoration: underline;
  font-weight: bold;
}

header {
  z-index: 1;
}

header > div:first-child {
  width: auto;
  height: 200px;
}

#logo {
  background-image: url("../images/logo_mdhamid.png");
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  animation-name: logo_grow;
  animation-duration: 5s;
  position: relative;
  overflow: hidden;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  /* background-size: 20% 20%; */
}


@-webkit-keyframes logo_grow{
  0%   {top: 0px; width: 25px; opacity: 0;}
  100% {top: 0px; width: 100px; opacity: 1;}
}

@keyframes logo_grow{
  0%   {top: 0px; width: 25px; opacity: 0;}
  100% {top: 0px; width: 100%; opacity: 1;}
}

.skip a {
  left: 0;
  top: -35px;
  padding: 6px;
  z-index: 1;
  position: absolute;
  transition: top 1s ease-out;
  -webkit-transition: top 1s ease-out;
}

.skip a:focus {
  background: rgb(199, 199, 199);
  top: 10px;
  color: #000000;
}

/* nav start */
#myLinks a:nth-child(1) {
  display: none;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #02020293;
  color: white;
}

a.active {
  text-decoration: underline white;
}

/* nav end */

body {
  background-color: rgb(199, 199, 199);
}

.project_text, .about_text {
  max-width: 1200px;
  text-align: center;
  margin:auto
}

.project_container a {
  color: black;
}

.project_overview_container a {
  color: black;
}

.project_overview {
  display: grid;
  grid-template-columns: 1fr;
  margin:auto;
}

.project_overview_container img{
  margin: auto;
  width: 50%;
  display: flex;
  max-height: 225px
}


.project_container img{
  margin: auto;
  min-width: 200px;
  display: flex;
  min-height: 300px
}

.project_container img:hover {
  opacity: 0.75 !important;
}

.project_overview_container img:hover {
  opacity: 0.75 !important;
}

.project_container, .project_overview_container {
  text-align: center;
  flex-direction: column;
  align-items: flex-end;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 400px;
  perspective: 1000px;
  position: relative;
  margin: auto;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.3s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner, :focus-within .flip-card-inner {
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.flip-card-back {
  background-color: #333;
  color: white;
  transform: rotateY(180deg) translateY(-425px);;
  position: absolute;
}

.flip-card-back {
  position: relative;
  align-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

figure {
  margin: 0px;
}

.photo_container {
  max-width: 1200px;
  margin: 20px auto;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(auto-fill, 239px);
  grid-gap: 2px;
  margin: 20px;
}

.gallery_item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.gallery_item:hover {
  opacity: 0.75 !important;
}

.image1, .image2, .image3, .image4, .image5, .image6, .image7, .image8, .image9 {
  grid-column-start: 1;
  grid-column-end: 9;
}

footer p {
  text-align: center;
}

/* contact form change styling */

.contact {
  margin: auto;
  padding: 0 22px 0 22px;
}

textarea {
  width: 100%;
  height: 100px;
  margin: 8px 0px;
  border: 1px solid #333;
  background-color: #eeeeee;
}

textarea:focus {
  border: 5px solid #000000;
}

input:focus {
  border: 2px solid #000000;
  border-radius: 5px;
}

input[type=submit] {
  background-color: #333;
  color: #FFFFFF;
  cursor: pointer;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0px;
  display: inline-block;
  border: 1px solid #333;
  box-sizing: border-box;
}

input[type=submit]:hover {
  opacity: 0.8;
}

legend {
  font-size: 20px;
  text-transform: uppercase;
  cursor: default;
  text-align: center;
}

label {
  display: inline-block;
  cursor: default;
}

/* contact form above change style */

/* tablet view */
@media all and (min-width: 481px){

  .topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }

  div.topnav > a {
    display: none;
  }

  #myLinks a:nth-child(1) {
    display: inline-block;
  }

  .topnav #myLinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  /* Style the hamburger menu */
  .topnav a.icon {
    background: black;
    display: none;
    position: relative;
    right: 0;
    top: 0;
  }

  .gallery {
    grid-template-rows: repeat(40, 5vw);
  }

  .image1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 6;
  }

  .image2 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 8;
  }

  .image3 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 9;
  }

  .image4 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 8;
    grid-row-end: 15;
  }

  .image5 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 9;
    grid-row-end: 15;
  }

  .image6 {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 15;
    grid-row-end: 25;
  }

  .image7 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 25;
    grid-row-end: 30;
  }

  .image8 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 25;
    grid-row-end: 30;
  }

  .image9 {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 30;
    grid-row-end: 40;
  }

  .project_overview {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .project_overview_container {
    margin: 50px;
  }

  .project_overview_container img {
    margin: auto;
    width: auto;
    align-items: center;
    min-width: 338px;
  }

  .project_container img{
    margin: auto;
    max-width: 500px;
    display: flex;
    max-height: 600px
  }

  /* contact form check style */

  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 620px;
    margin: auto;
  }

  legend {
    margin: 10px;
  }
  /* end of contact form check style */

}

/* desktop */
@media all and (min-width: 769px){

  .topnav #myLinks {
    /* align-items: flex-end; */
    justify-content: flex-end;
  }

  .project_container img{
    margin: auto;
    max-width: 700px;
    display: flex;
    max-height: 800px
  }

  /* contact form check style */
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 620px;
    margin: auto;
  }
  /* end of contact form check style */

}

/* accessiblity */
@media (prefers-reduced-motion) {

  #logo{
    animation: none;
    background-attachment:local;
  }

  .flip-card-inner {
    transition: none;
    transform-style: none;
  }

  .flip-card:hover .flip-card-inner, :focus-within .flip-card-inner {
    transform: none;
  }
}
